body{
    background-color: white;
}
input{
    padding: 10px;
    margin-bottom: 10px;
}
button{
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    width: 193px;
    font-size: medium;

}
button:active{
    opacity: 0.8;
    background-color: rgb(0, 217, 255);
}
button[disabled]{
    opacity: 0.6;
}
.solid{
    background-color: rgb(202, 202, 202);
    border: 2px solid rgb(37, 37, 37);
}
html{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.erro{
   color: red; 
   display: none;
}

.loading{
    background: rgba(0, 0, 0, 0.6);
    position: fixed;

}
.loading label{
    font-size: 21px;
}