.container {
    max-width: 900px;
    font-family: sans-serif;
    margin: auto;
}

h1{
    text-align: center;
    margin-bottom: 30px;
}

table{
    width: 100%;
    border-spacing: 0px;
}

th{
    text-align: left;
}

table td:focus{
    background-color: #eae9e9;
}

td:nth-child(3){
    width: 400px;
}

td:last-child{
    text-align: right;
}

table th, table td{
    padding: 15px 0px;
    border-bottom: 1px solid #cacaca;
    outline: none;
}

.wrapper{
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  a{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #858484;
    border: 2px solid #858484;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  
  a span{
    position: relative;
    z-index: 2;
  }
  
  a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #a4f8ab;
    transition: all .35s;
  }
  
  a:hover{
    color: #000000;
  }
  
  a:hover:after{
    width: 100%;
  }
  